.DS_Store
.build/
DerivedData/
build/
*.xcarchive
*.xcresult
*.dSYM
*.dSYM.zip
*.ipa
*.xccheckout
*.xcuserstate
xcuserdata/
.mint/
Tools/ChartInspector/dist/
Tools/ChartInspector/node_modules/
Config/Local.xcconfig
